/* Para el body de toda la pagina */
body{
    background-color: whitesmoke;
    margin: 0;
}

/*Menu de arriba*/
.menu{
    background-color: #3F377A;
    height: 200px;
    width: 100%;
    margin-top: 0;

}
/* Social media y links con fotos, tambien esta anidado con la parte de arriba */
.socialmedia{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.menusocialmedia{
    font-family:'Times New Roman', Times, serif;
    height: 30px;
    width: 150px;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 60px;
}
.facebook{
    height: 35px;
    width: 35px;
    
}
.instagram{
    height: 35px;
    width: 35px;
    margin-left: 5px;
   
}
.whatsapp{
    height: 35px;
    width: 35px;
    margin-left: 10px;
    
}
/* Fin de la parte de arriba */

/* Textos en pantalla, uso comun, sin modificaciones  */
h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Esto es para un ejemplo */

.hola{
    text-decoration:underline;
}