/* Para el body de toda la pagina */
body{
    background-color: whitesmoke;
    margin: 0;
    text-align: center;
}

/*Menu de arriba*/
.menu{
    background-color: #3F377A;
    height: 200px;
    width: 100%;
    margin-top: 0;

}
/* Social media y links con fotos, tambien esta anidado con la parte de arriba */
.socialmedia{
    text-align: center;
    color: white;
    font-size: 25px;
}
.menusocialmedia{
    height: 30px;
    width: 150px;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 60px;
}
.facebook{
    height: 35px;
    width: 35px;
    
}
.instagram{
    height: 35px;
    width: 35px;
    margin-left: 5px;
   
}
.whatsapp{
    height: 35px;
    width: 35px;
    margin-left: 10px;
    
}
/* Fin de la parte de arriba */

/* Textos en pantalla, uso comun, sin modificaciones  */
h1,h2,h3,h4,h5,h6{
    text-align: center;
}


.hola{
    text-decoration:underline;
    color: rgb(219, 219, 39);

}
.nube1{
    position: absolute;
    padding-left: 40px;
}
.nube2{
    position: absolute;
    padding-left: 65px;
}
.divmedio{
    position: relative;
    padding-top: 45px;
}
/* Ahora añadire fotos de mi libro y una descripcion*/
.milibro{
    text-align: center;
    padding-top: 25px;
    font-size: 65px;
}
.escondiditas{
    padding-top: 35px;
    margin: 0;
    font-size: 45px;
}
.fotosdellibro{
    height: 40px;
    width: 150px;
    margin-top: 1px;
    padding-right: 35px;
}
.linkedin{
    height: 100px;
    width: 100px;
}