
/*Estilo de la pagina para que se vea bonita */
body{
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

/* Hermusurando el texto*/

/* Parte de arriba  */
.div-arriba{
    background-color: black;
    height: 100px;
    width: 100%;   
    padding-top: 1%;
}
.logo{
    height: 70px;
    width: 70px;
    margin-top: 5px;
    padding-left: 10px;
    position: relative;
}
.nombre{
    position: relative;
    text-align: center;
    color: white;
    margin: -70px auto auto auto;
}
.Escritor{
    text-align: center;
    color: white;
    margin-top: -1px;
}
/* Para los links de social media y fotografias */
.Social-Media{
    text-align: right;
    color: white;
    position: relative;
    top: -90px;
    font-size: 30px;
    padding-right: 1%;
}
.facebook{
    height: 30px;
    width: 30px;
    position:absolute;
    top: 60px;
    right: 160px;
}
.instagram{
    height: 30px;
    width: 30px;
    position:absolute;
    top: 60px;
    right: 90px;
}
.whatsapp{
    height: 30px;
    width: 30px;
    position:absolute;
    top: 60px;
    right: 15px;
}

/* Para la parte donde se ve el libro */

.fotosdellibro {
    height: 50px;
    width: 170px;
}
.escondiditas{
    text-align: center;
    height: 50px;
    width: 120px;
    position: absolute;
    margin-top: 200px;
    left: 30px;
}

